{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {"sourceType": "module"},

  "rules": {
    // specifically for Obsidian Plugins
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-extra-semi": "warn",
    "no-shadow": ["error", { "builtinGlobals": true, "hoist": "all", "allow": [""] }],
    "no-debugger": "off",

    //-----------------------------------
    //-----------------------------------
    //-----------------------------------

    // Variables
    "camelcase": ["error", {"properties": "always", "ignoreImports": true}],
    "no-var": "error",
    "prefer-const": "warn",
    "vars-on-top": "warn",
    "sort-vars": "warn",
    "no-use-before-define": "warn",
    "no-multi-assign": "error",
    "no-sequences": "error",
    "no-undefined": "error",
    "one-var-declaration-per-line": ["error", "initializations"],

    // Regex
    "prefer-regex-literals": ["error", {"disallowRedundantWrapping": true}],

    // Spacing
    "no-mixed-spaces-and-tabs": "warn",
    "no-empty-function": "warn",
    "indent": ["warn", "tab", { "SwitchCase": 1 } ],
    "no-multi-spaces": "warn",
    "array-bracket-spacing": "warn",
    "space-before-blocks": "warn",
    "semi-spacing": "warn",
    "object-curly-spacing": ["warn", "always"],
    "no-whitespace-before-property": "error",
    "no-empty": "warn",
    "arrow-spacing": "warn",
    "keyword-spacing": "warn",
    "spaced-comment": ["warn", "always", { "exceptions": ["-", "_"] }],
    "object-curly-newline": ["warn", { "multiline": true }],
    "curly": ["warn", "multi-or-nest"],
    "no-multiple-empty-lines": ["warn", { "max": 2 } ],

    // Loops
    "no-unmodified-loop-condition": "error",
    "no-unreachable-loop": "error",
    "no-await-in-loop": "error",

    // async/await
    "require-atomic-updates": "error",

    // return
    "array-callback-return": "error",
    "no-useless-return": "error",

    // Semicolon & Comma
    "no-extra-semi": "warn",
    "semi-style": ["error", "last"],
    "semi": ["warn", "always", {"omitLastInOneLineBlock": true }],
    "comma-spacing": "warn",
    "comma-style": "warn",
    "comma-dangle": ["error", {"arrays": "never", "objects": "only-multiline" }],

    // Strings & Numbers
    "quotes": ["warn", "double"],
    "no-useless-concat": "warn",
    "no-multi-str": "error",
    "no-magic-numbers": ["error", { "ignore": [-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 1000, 10000], "ignoreArrayIndexes": true }],
    "no-floating-decimal": "warn",
    "no-implicit-coercion": "error",

    // Conditions
    "eqeqeq" : "error",
    "no-eq-null" : "error",
    "no-negated-condition": "error",
    "no-unneeded-ternary": "error",
    "no-nested-ternary": "error",
    "yoda": "warn",
    "no-mixed-operators": "error",
    "no-else-return": ["error", { "allowElseIf": false} ],
    "no-lonely-if": "error",

    // Imports
    "no-duplicate-imports": "warn",
    "sort-imports": "warn",

    // Misc
    "dot-notation": "error"
  }
}
